/* Typography */
.h1 {
  font-weight: 800;
  letter-spacing: -0.025em;
}

.h2 {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 800;
  letter-spacing: -0.025em;
}

.h3 {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 800;
}

.h4 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 800;
  letter-spacing: -0.025em;
}

@media (min-width: 768px) {
  .h1 {
    font-size: 3rem;
    line-height: 1;
  }

  .h2 {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}

/* Buttons */
.btn,
.btn-lg,
.btn-sm,
.btn-xs {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.375rem;
  border: 1px solid transparent;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  transition-property: all;
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn {
  padding: 0.5rem 0.75rem;
}

.btn-lg {
  padding: 0.75rem 1rem;
}

.btn-sm {
  padding: 0.25rem 0.5rem;
}

.btn-xs {
  padding: 0.125rem 0.5rem;
}

/* Forms */
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

.form-input,
.form-textarea,
.form-multiselect,
.form-select,
.form-checkbox,
.form-radio {
  border: 1px solid rgb(226, 232, 240);
  background-color: white;
}

.form-input:focus,
.form-textarea:focus,
.form-multiselect:focus,
.form-select:focus,
.form-checkbox:focus,
.form-radio:focus {
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: transparent;
  --tw-ring-color: transparent;
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
}

:is(.dark .form-input),
:is(.dark .form-textarea),
:is(.dark .form-multiselect),
:is(.dark .form-select),
:is(.dark .form-checkbox),
:is(.dark .form-radio) {
  background-color: rgba(15, 23, 42, 0.3);
}

:is(.dark .form-input:disabled),
:is(.dark .form-textarea:disabled),
:is(.dark .form-multiselect:disabled),
:is(.dark .form-select:disabled),
:is(.dark .form-checkbox:disabled),
:is(.dark .form-radio:disabled) {
  border-color: rgb(51, 65, 85);
  background-color: rgba(51, 65, 85, 0.3);
}

.form-input,
.form-textarea,
.form-multiselect,
.form-select,
.form-checkbox {
  border-radius: 0.375rem;
}

.form-input,
.form-textarea,
.form-multiselect,
.form-select {
  border-color: rgb(226, 232, 240);
  padding: 0.5rem 0.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgb(30, 41, 59);
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
}

.form-input:hover,
.form-textarea:hover,
.form-multiselect:hover,
.form-select:hover {
  border-color: rgb(203, 213, 225);
}

.form-input:focus,
.form-textarea:focus,
.form-multiselect:focus,
.form-select:focus {
  border-color: rgb(203, 213, 225);
}

:is(.dark .form-input),
:is(.dark .form-textarea),
:is(.dark .form-multiselect),
:is(.dark .form-select) {
  border-color: rgb(51, 65, 85);
  color: rgb(241, 245, 249);
}

:is(.dark .form-input:hover),
:is(.dark .form-textarea:hover),
:is(.dark .form-multiselect:hover),
:is(.dark .form-select:hover) {
  border-color: rgb(71, 85, 105);
}

:is(.dark .form-input:focus),
:is(.dark .form-textarea:focus),
:is(.dark .form-multiselect:focus),
:is(.dark .form-select:focus) {
  border-color: rgb(71, 85, 105);
}

.form-input::placeholder,
.form-textarea::placeholder {
  color: rgb(148, 163, 184);
}

:is(.dark .form-input::placeholder),
:is(.dark .form-textarea::placeholder) {
  color: rgb(100, 116, 139);
}

.form-select {
  padding-right: 2.5rem;
}

.form-checkbox,
.form-radio {
  border: 1px solid rgb(203, 213, 225);
  color: rgb(99, 102, 241);
}

.form-checkbox:checked,
.form-radio:checked {
  background-color: rgb(99, 102, 241);
}

.form-checkbox:focus,
.form-radio:focus {
  border-color: rgb(165, 180, 252);
}

:is(.dark .form-checkbox),
:is(.dark .form-radio) {
  border-color: rgb(51, 65, 85);
}

:is(.dark .form-checkbox:checked),
:is(.dark .form-radio:checked) {
  border-color: transparent;
}

:is(.dark .form-checkbox:focus),
:is(.dark .form-radio:focus) {
  border-color: rgba(99, 102, 241, 0.5);
}

/* Switch element */
.form-switch {
  position: relative;
  user-select: none;
  width: 44px;
}

.form-switch label {
  display: block;
  height: 1.5rem;
  cursor: pointer;
  overflow: hidden;
  border-radius: 9999px;
}

.form-switch label > span:first-child {
  position: absolute;
  display: block;
  border-radius: 9999px;
  width: 20px;
  height: 20px;
  top: 2px;
  left: 2px;
  right: 50%;
  transition: all 0.15s ease-out;
}

.form-switch input[type='checkbox']:checked + label {
  background-color: rgb(99, 102, 241);
}

.form-switch input[type='checkbox']:checked + label > span:first-child {
  left: 22px;
}

.form-switch input[type='checkbox']:disabled + label {
  cursor: not-allowed;
  border: 1px solid rgb(226, 232, 240);
  background-color: rgb(241, 245, 249);
}

:is(.dark .form-switch input[type='checkbox']:disabled + label) {
  border-color: rgb(51, 65, 85);
  background-color: rgba(51, 65, 85, 0.2);
}

.form-switch input[type='checkbox']:disabled + label > span:first-child {
  background-color: rgb(148, 163, 184);
}

:is(.dark .form-switch input[type='checkbox']:disabled + label > span:first-child) {
  background-color: rgb(71, 85, 105);
}
